
.addBtn {
    margin-left: 10px;
    padding: 4px;
}

.editBtn {
    margin-left: 10px;
    padding: 4px;
}

.delBtn {
    margin-left: 10px;
    padding: 4px;
}

.btnIcon {
    height: 14px;
    width: 14px;
}