.modal-body
    div.quickCmdContainer
        input.form-control.quickCmd(
            type='text', 
            [(ngModel)]='quickCmd', 
            autofocus, 
            placeholder='Ctrl + Enter send to all', 
            (ngModelChange)='refresh()',
            (keydown)='handleKeyDown($event)',
            (keyup.control.enter)='quickSendAll()',
        )
    .list-group.mt-3.connections-list
        .list-group-item.list-group-item-action.pl-5.d-flex.align-items-center(
            *ngFor='let cmd of filteredCmds; let i = index', 
            (click)='send(cmd, $event)',
            [class.selected]='i === selectedIndex',
            title="Ctrl + Click send to all",
        )
            .mr-auto
                div {{cmd.name}}
                .text-muted {{cmd.text}}{{cmd.appendCR ? "\n" : ""}}
                        